<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.dao.ExaminationMapper" >

	<select id="getTmxxForZxksByStudentNo" resultType="com.yx.entity.GetTmxxEntity" parameterType="com.yx.entity.GetTmxxParm" >
		SELECT 
			tmxx.tmbh,
			tmxx.tmzl,
			tmxx.tmlx,
			tmxx.tmnr,
			tmxx.tmxx,
			tmxx.tmda,
			tmxx.tmfz
		FROM
			b_xyxx xyxx 
			INNER JOIN b_xycj xycj ON xyxx.id = xycj.xybh AND xycj.delflag = 0
			INNER JOIN b_ksxx ksxx ON xycj.ksbh = ksxx.id AND ksxx.delflag = 0
			INNER JOIN b_tkls tkls ON ksxx.id = tkls.ksbh AND tkls.delflag = 0
			INNER JOIN b_tmxx tmxx ON tkls.tmbh = tmxx.tmbh AND tmxx.delflag = 0
		WHERE
			xyxx.id = #{studentNo}
			AND ksxx.ksrq = 
				(
					SELECT MAX(ksxx1.ksrq) FROM b_xyxx xyxx1 
					INNER JOIN b_xycj xycj1 ON xyxx1.id = xycj1.xybh AND xycj1.delflag = 0 
					INNER JOIN b_ksxx ksxx1 ON xycj1.ksbh = ksxx1.id AND ksxx1.delflag = 0 WHERE
					xyxx1.id = #{studentNo}
					AND xyxx1.delflag = 0)
			AND xyxx.delflag = 0
		ORDER BY
			tmxx.tmlx,tmxx.tmzl,tmxx.createtime
	</select>


	<select id="getTmxxForMnksByStudentNo" resultType="com.yx.entity.GetTmxxEntity" parameterType="com.yx.entity.GetTmxxParm" >
		SELECT 
			tmxx.tmbh,
			tmxx.tmzl,
			tmxx.tmlx,
			tmxx.tmnr,
			tmxx.tmxx,
			tmxx.tmda,
			tmxx.tmfz
		FROM
			b_xyxx xyxx 
			INNER JOIN b_tkls tkls ON xyxx.id = tkls.xybh AND tkls.delflag = 0
			INNER JOIN b_tmxx tmxx ON tkls.tmbh = tmxx.tmbh AND tmxx.delflag = 0
		WHERE
			xyxx.id = #{studentNo}
			AND xyxx.delflag = 0
		ORDER BY
			tmxx.tmlx,tmxx.tmzl,tmxx.createtime
	</select>

	<select id="getExaminationTimeByStudentNo" resultType="hashmap" parameterType="com.yx.entity.GetTmxxParm" >
		SELECT 
			ksxx.kssj,ksxx.jssj,ksxx.pxbh,ksxx.id,xycj.isExamFlag
		FROM
			b_xyxx xyxx 
			INNER JOIN b_xycj xycj ON xyxx.id = xycj.xybh AND xycj.delflag = 0
			INNER JOIN b_ksxx ksxx ON xycj.ksbh = ksxx.id AND ksxx.delflag = 0
		WHERE
			xyxx.id = #{studentNo}
			AND ksxx.ksrq = 
				(
					SELECT MAX(ksxx1.ksrq) FROM b_xyxx xyxx1 
					INNER JOIN b_xycj xycj1 ON xyxx1.id = xycj1.xybh AND xycj1.delflag = 0 
					INNER JOIN b_ksxx ksxx1 ON xycj1.ksbh = ksxx1.id AND ksxx1.delflag = 0 WHERE
					xyxx1.id = #{studentNo}
					AND xyxx1.delflag = 0)
			AND xyxx.delflag = 0
	</select>
	
	<select id="getQuestionsType" resultType="com.yx.entity.GetQuestionsTypeEntity" parameterType="com.yx.entity.GetQuestionsTypeParm">
		SELECT
			tksd.tmzl,SUM(tksd.tmsl) AS tmsl
		FROM
			b_tkxx tkxx,
			b_tksd tksd
		WHERE
			tkxx.gz = #{workTypeCode}
			AND tkxx.tkbh = tksd.tkbh
			AND tkxx.tklb = '2'
			AND tkxx.delFlag = 0
			AND tksd.delFlag = 0
		GROUP BY
			tksd.tmzl
	</select>
	
	<select id="getQuestionsSetting" resultType="com.yx.entity.GetQuestionsSettingEntity" parameterType="com.yx.entity.GetQuestionsSettingParm">
		SELECT
			tkbh,
			tmzl,
			tmlx,
			tmnyd,
			tmsl
		FROM
			b_tksd
		WHERE
			tkbh = #{questionBankId}
			AND delFlag = 0
		ORDER BY
			tmlx,
			tmzl,
			tmnyd
	</select>
	
	<select id="getRandomQuestion" resultType="com.yx.entity.GetTmxxEntity" parameterType="com.yx.entity.GetRandomQuestionParm">
		SELECT * from 
		(
			SELECT
				id,tmbh,tmzl,tmlx,tmnr,tmxx,tmda,tmfz,tmnyd,createtime
			FROM
				b_tmxx
			WHERE
				tmzl = #{tmzl}
				AND tmlx = #{tmlx}
				AND tmnyd = #{tmnyd}
				AND delFlag = 0
				ORDER BY RAND() LIMIT #{tmsl}
		) tmxx
		ORDER BY tmxx.tmlx,tmxx.tmzl,tmxx.createtime
	</select>
	
	<insert id="insertQuestionsHistory" parameterType="java.util.List">
		insert into b_tkls(id,tkbh,tmbh,xybh,ksbh,sdrq,delFlag)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
				(select replace(uuid(), '-', '') as id from dual),
        		#{item.tkbh},
        		#{item.tmbh},
        		#{item.xybh},
        		#{item.ksbh},
        		#{item.sdrq},
        		0
			)
		</foreach>
	</insert>

	<select id="getExamListByStuNo" resultType="com.yx.entity.GetExamListByStuNoEntity" parameterType="com.yx.entity.GetExamListByStuNoParm">
		SELECT
			tkls.xybh,
			tkls.tkbh,
			tkls.sdrq
		FROM
			b_tkls tkls,
			b_tkxx tkxx
		WHERE
			tkls.xybh = #{xybh}
			AND tkls.tkbh = tkxx.tkbh
			AND tkxx.tklb = '2'
			AND tkxx.tkbh = #{tkbh}
			AND tkls.delFlag = 0
		GROUP BY
			tkls.tkbh,tkls.sdrq
		ORDER BY
			tkls.sdrq
	</select>
	
	<select id="getQuestionsByDate" resultType="com.yx.entity.GetTmxxEntity" parameterType="com.yx.entity.GetTmxxParm" >
		SELECT 
			tmxx.tmbh,
			tmxx.tmzl,
			tmxx.tmlx,
			tmxx.tmnr,
			tmxx.tmxx,
			tmxx.tmda,
			tmxx.tmfz
		FROM
			b_tkls tkls,
			b_tmxx tmxx
		WHERE
			tkls.xybh = #{studentNo}
			AND tkls.tkbh = #{questionsNo}
			AND tkls.sdrq = #{settingDate}
			AND tkls.tmbh = tmxx.tmbh
			AND tkls.delflag = 0
			AND tmxx.delflag = 0
		ORDER BY
			tmxx.tmlx,tmxx.tmzl,tmxx.createtime
	</select>
	
	<select id="getQuestionsByType" resultType="com.yx.entity.GetTmxxEntity" parameterType="com.yx.entity.GetTmxxParm" >
		SELECT 
			tmbh,
			tmzl,
			tmlx,
			tmnr,
			tmxx,
			tmda,
			tmfz
		FROM
			b_tmxx
		WHERE
			tmzl = #{questionType}
			AND delflag = 0
		ORDER BY
			tmlx,createtime
	</select>
	
	<select id="getTrainByNo" resultType="com.yx.entity.GetTrainByNoEntity" parameterType="string" >
		SELECT 
			id,pxbh,pxmc,pxlb,pxcc
		FROM
			b_pxxx
		WHERE
			pxbh= #{pxbh}
			AND delFlag = 0
	</select>
	
	<update id="updateScore" parameterType="com.yx.entity.UpdateScoreParm">
		UPDATE
			b_xycj
		SET kscj = #{kscj}
		WHERE
			xybh = #{xybh}
			AND ksbh = #{ksbh}
	</update>
	
	<update id="updateIsExamFlag" parameterType="com.yx.entity.UpdateIsExamFlagParm">
		UPDATE
			b_xycj
		SET isExamFlag = '1'
		WHERE
			xybh = #{xybh}
			AND ksbh = #{ksbh}
	</update>
	
	<select id="getWorkTypeByExamNo" resultType="string" parameterType="string" >
		SELECT
			DISTINCT tkxx.gz
		FROM
			b_tkls tkls,b_tkxx tkxx
		WHERE
			tkls.tkbh = tkxx.tkbh
			AND tkls.ksbh = #{examNo}
	</select>
	
	<insert id="insertMockScore" parameterType="com.yx.entity.InsertMockScoreParm">
		insert into b_mnkscj(id,sjbh,xybh,sdrq,kscj,pxbh)
		values
		(
			(select replace(uuid(), '-', '') as id from dual),
        	(select replace(uuid(), '-', '') as id from dual),
        	#{xybh},
        	#{sdrq},
        	#{kscj},
        	#{pxbh}
		)
	</insert>
	
	<select id="getTrainByStuNo" resultType="com.yx.entity.GetTrainByStuNoEntity" parameterType="string">
		SELECT
			pxxx.id,pxxx.pxbh,pxxx.pxmc
		FROM
			b_xycj xycj,b_pxxx pxxx,b_ksxx ksxx
		WHERE
			xycj.pxbh = pxxx.pxbh
			AND xycj.ksbh = ksxx.id
			AND xycj.xybh = #{xybh}
			AND xycj.delFlag = 0
			AND pxxx.delFlag = 0
		ORDER BY
			ksxx.ksrq desc
	</select>
	
	<select id="getRankingForMock" resultType="com.yx.entity.GetRankingEntity" parameterType="com.yx.entity.GetRankingParm">
		SELECT	
			xycj.xybh,
			xyxx.xyxm,
			xycj.pxbh,
			IFNULL(xypm3.kscs,0) kscs,
			IFNULL(xypm3.kscj,0) kscj,
			IFNULL(xypm3.ksts,0) ksts
		FROM
			b_xycj xycj
		INNER JOIN
			b_xyxx xyxx
		ON
			xycj.xybh = xyxx.id
		LEFT JOIN
			(	
				SELECT
					xypm1.xybh xybh,
					xypm1.pxbh pxbh,
					xypm1.kscs kscs,
					xypm1.kscj kscj,
					xypm2.ksts ksts
				FROM
					(
						SELECT
							mnkscj.xybh,
							mnkscj.pxbh,
							count(*) kscs,
							SUM(mnkscj.kscj) kscj
						FROM
							b_mnkscj mnkscj
						
						WHERE
							mnkscj.pxbh = #{trainNo}
						GROUP BY
							mnkscj.xybh
						ORDER BY
							mnkscj.xybh,mnkscj.sdrq,mnkscj.sjbh
					) xypm1
				LEFT JOIN
					(
						SELECT
							count(*) ksts, 
							temp.xybh xybh
						FROM
						(
							SELECT
								xybh,
								sdrq
							FROM
								b_mnkscj
							WHERE
								pxbh = #{trainNo}
							GROUP BY
								xybh,sdrq
						) temp
						GROUP BY
							xybh
					)xypm2
				ON
					xypm2.xybh = xypm1.xybh
			)xypm3
		ON			
			xycj.xybh = xypm3.xybh
		WHERE
			xycj.pxbh = #{trainNo}
			AND xycj.delFlag = 0
			AND xyxx.delFlag = 0
		ORDER BY
			xypm3.kscj DESC,
			xypm3.kscs ASC,
			xypm3.ksts ASC
	</select>

	<select id="getRankingForOnline" resultType="com.yx.entity.GetRankingEntity" parameterType="com.yx.entity.GetRankingParm">
		SELECT	
			xycj.xybh,
			xyxx.xyxm,
			xycj.pxbh,
			xycj.kscj
		FROM
			b_xycj xycj
		INNER JOIN
			b_xyxx xyxx
		ON
			xycj.xybh = xyxx.id
		WHERE
			xycj.pxbh = #{trainNo}
			AND xycj.delFlag = 0
			AND xyxx.delFlag = 0
		ORDER BY
			xycj.kscj DESC
	</select>
	
	<select id="getQuestionBank" resultType="com.yx.entity.GetQuestionBankEntity" parameterType="com.yx.entity.GetQuestionBankParm">
		SELECT
			tkbh
		FROM
			b_tkxx
		WHERE
			gz = #{gz}
			AND pxcc = #{pxcc}
			AND pxlb = #{pxlb}
			AND (sylx = #{sylx} OR sylx = '0')
			AND orgId in
			<foreach item="item" collection="orgIdList" separator="," open="(" close=")" index="">
      			#{item}
    		</foreach>
			<choose>
				<when  test="tklb == 1">
					AND 
						(
						tklb = '1' 
						OR tklb = '3'
						)
				</when>
				<otherwise>
					AND tklb = '2' 
				</otherwise>
			</choose>
			AND delFlag = '0'
	</select>
	
	<select id="getTkxxByTkbh" resultType="com.yx.entity.GetTkxxByTkbhEntity" parameterType="com.yx.entity.GetTkxxByTkbhParm">
		SELECT
			id,tkbh,gz,sdrq,tklb,pxcc,pxlb,sylx,orgId
		FROM
			b_tkxx
		WHERE
			tkbh = #{tkbh}
			AND delFlag = '0'
	</select>
	
	<select id="getTmxxForZxksByTkbh" resultType="com.yx.entity.GetTmxxEntity" parameterType="com.yx.entity.GetTmxxParm" >
		SELECT 
			tmxx.tmbh,
			tmxx.tmzl,
			tmxx.tmlx,
			tmxx.tmnr,
			tmxx.tmxx,
			tmxx.tmda,
			tmxx.tmfz
		FROM
			b_tkls tkls
			INNER JOIN b_tmxx tmxx ON tkls.tmbh = tmxx.tmbh AND tmxx.delflag = 0
		WHERE
			tkls.tkbh = #{tkbh}
			AND tkls.delflag = 0
		ORDER BY
			tmxx.tmlx,tmxx.tmzl,tmxx.createtime
	</select>
	
	<select id="getParentIdById" resultType="string" parameterType="string" >
		SELECT 
			parentId
		FROM
			m_org
		WHERE
			orgid = #{childId}
	</select>
	
</mapper>