<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.dao.LoginMapper" >


	<select id="getXyxxByIdcard" resultType="com.yx.entity.GetXyxxByIdCardEntity" parameterType="com.yx.entity.GetXyxxByIdCardParm" >
	    SELECT
	    	xyxx.id, 
	    	xyxx.xyxm, 
	    	xyxx.xyxb, 
	    	xyxx.zjhm,
	    	xyxx.mz,
	    	xyxx.xynl,
	    	xyxx.lxdh,
	    	xyxx.pxbh,
	    	xyxx.sftzzy,
	    	xyxx.jtdz,
	    	xyxx.xyzp,
	    	xyxx.xylb,
	    	xyxx.ssdw ssdwId,
	    	org.orgName ssdw,
	    	xyxx.stzk
	    FROM 
	    	b_xyxx xyxx
	    LEFT JOIN
	    	m_org org
	    ON
	    	xyxx.ssdw = org.orgId
		WHERE
			xyxx.zjhm = #{zjhm}
			AND xyxx.delFlag = '0'
	</select>
	
</mapper>