<!DOCTYPE html>
<html>
  <head>
    <title>vueDemo.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="../js/vue.js"></script>

  </head>
  
  <body>
  	<div id="app1">
  		<span v-bind:title = "msg">
  			{{msg}}
  		</span>
		<button id="button1" v-bind:disabled="disabledFlg1" v-on:click="setDisabled1">按钮1</button>
		<button id="button2" v-bind:disabled="disabledFlg2" v-on:click="setDisabled2">按钮2</button>
		<button id="button3" v-if="disabledFlg3" v-on:click="setDisabled3">按钮3</button>
		<ol>
			<li v-for="item in items" :key="item.id">
			id:{{ item.id }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspname:{{item.name}}
			</li>
		</ol>
	</div>
	  
	<div id="app2">
		<span v-bind:title="nowDate">
			当前时间是:{{nowDate}}
		</span>
		<input v-model="nowDate" type="text" />

	</div>

	<div id="app3">

	</div>
    
  </body>
  
  <script type="text/javascript">
  	var vm = new Vue({
  		el: '#app1',
  		data: {
  			msg: '123',
  			disabledFlg1: false,
			disabledFlg2: true,
			disabledFlg3: true,
			items: [
				{id:'id1', name:'name1'},
				{id:'id2', name:'name2'},
				{id:'id3', name:'name3'},
				{id:'id4', name:'name4'}
			]
  		},
  		methods: {
			setDisabled1: function () {
				this.disabledFlg1 = true;
				this.disabledFlg2 = false;
  			},
			setDisabled2: function () {
				this.disabledFlg2 = true;
				this.disabledFlg1 = false;
  			},
			setDisabled3: function () {
				this.disabledFlg3 = false;
  			}
  		}
  	});
	
	var vm2 = new Vue({
		el: "#app2",
		data: {
			nowDate: new Date().toLocaleDateString()
		}
	})

	Vue.component('todo-item', {
		props: ['todo'],
		template: '<li>{{ todo.text }}</li>'
	})

	var vm3 = new Vue({
		el: "#app3",
		data: {
			dataInfo:[
				{id:0, itmeName:"列表一"},
				{id:1, itmeName:"列表二"},
				{id:2, itmeName:"列表三"}
			]
		}
	})


  </script>
</html>
